* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Georgia', serif;
    background-image: url(../Assets/main_background.jpg);
    background-size: 120% 120%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.fade-in {
    opacity: 0;
    transition: opacity 1.4s ease-out, transform 1.4s ease-out;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 101;
    background: none; 
    transition: background 0.3s ease-in-out; /* Smooth transition */
    color:white;
}

header.hidden {
    transform: translateY(-100%); /* Move the header out of view */
}

header.scrolled {
    background: rgba(0, 0, 0, 0.5); /* Darker transparency when scrolling */
}

.navigation a {
    color:white;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 650;
    text-decoration: none;
}

.navigation a:hover {
    color: black;
}

.title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Black transparency */
    z-index: 1; /* Ensures it is above the background but below content */
}

.title {
    position: relative;
    display:grid;
    place-items: center;
    align-content: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    
}


.title * {
    position: relative;
    z-index: 2; /* Ensures text and other content appear above the overlay */
}

#title_intihpl {
    position: absolute;
    font-size: 5em;
    color:rgb(252, 252, 252);
}

#caption {
    position: absolute;
    padding-top: 16vh;
    font-family: 'Georgia', serif;
    text-align: center;
    color: rgb(250, 250, 250);
}

.about {
    position: relative;
    display:flex;
    justify-content: center;
    height: 15vh;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.858);
}

#about_us {
    position: absolute;
    padding-top: 8vh;
    font-size: 3em;
    font-family: 'Georgia', serif;
}

.slider_container {
    
    background-color: rgba(255, 255, 255, 0.858);
    display: flex;
    align-items: center;
    min-height: 70vh;
}

.slider{
    width: 100%;
}

.slider input {
    display: none
}

.testimonials {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 400px;
    perspective: 1000px;
    overflow: hidden;
}

.testimonials .item {
    width: 370px;
    height: 400px;
    padding: 30px;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    top: 0;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.4s;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    user-select: none;
    cursor: pointer;
}

.dots{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dots label {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    margin: 7px;
    transition-duration: 0.2s;
}

#p-1:checked ~ .dots label[for="p-1"],
#p-2:checked ~ .dots label[for="p-2"],
#p-3:checked ~ .dots label[for="p-3"],
#p-4:checked ~ .dots label[for="p-4"],
#p-5:checked ~ .dots label[for="p-5"]{
    transform: scale(2);
    background-color: #000000;
    box-shadow: 0px 0px 0px 3px #dddddd24;
}

#p-1:checked ~ .dots label[for="p-2"],
#p-2:checked ~ .dots label[for="p-1"],
#p-2:checked ~ .dots label[for="p-3"],
#p-3:checked ~ .dots label[for="p-2"],
#p-3:checked ~ .dots label[for="p-4"],
#p-4:checked ~ .dots label[for="p-3"],
#p-4:checked ~ .dots label[for="p-5"],
#p-5:checked ~ .dots label[for="p-4"]{
    transform: scale(1.5);
}

#p-1:checked ~ .testimonials label[for="p-3"],
#p-2:checked ~ .testimonials label[for="p-4"],
#p-3:checked ~ .testimonials label[for="p-5"],
#p-4:checked ~ .testimonials label[for="p-1"],
#p-5:checked ~ .testimonials label[for="p-2"]{
    transform: translate3d(600px, 0, -180px) rotateY(-25deg);
    z-index: 2;

}

#p-1:checked ~ .testimonials label[for="p-2"],
#p-2:checked ~ .testimonials label[for="p-3"],
#p-3:checked ~ .testimonials label[for="p-4"],
#p-4:checked ~ .testimonials label[for="p-5"],
#p-5:checked ~ .testimonials label[for="p-1"]{
    transform: translate3d(300px, 0, -90px) rotateY(-15deg);
    z-index: 3;
}

#p-2:checked ~ .testimonials label[for="p-1"],
#p-3:checked ~ .testimonials label[for="p-2"],
#p-4:checked ~ .testimonials label[for="p-3"],
#p-5:checked ~ .testimonials label[for="p-4"],
#p-1:checked ~ .testimonials label[for="p-5"]{
    transform: translate3d(-300px, 0, -90px) rotateY(15deg);
    z-index: 3;
}

#p-3:checked ~ .testimonials label[for="p-1"],
#p-4:checked ~ .testimonials label[for="p-2"],
#p-5:checked ~ .testimonials label[for="p-3"],
#p-2:checked ~ .testimonials label[for="p-5"],
#p-1:checked ~ .testimonials label[for="p-4"]{
    transform: translate3d(-600px, 0, -180px) rotateY(25deg);
}

#p-1:checked ~ .testimonials label[for="p-1"],
#p-2:checked ~ .testimonials label[for="p-2"],
#p-3:checked ~ .testimonials label[for="p-3"],
#p-4:checked ~ .testimonials label[for="p-4"],
#p-5:checked ~ .testimonials label[for="p-4"],
#p-5:checked ~ .testimonials label[for="p-5"]{
    z-index: 4;
}

.about_us_capt {
    background-color: rgba(255, 255, 255, 0.858);
    position: relative;
    flex-direction: column; 
    display:flex;
    align-items: flex-start; /* Centers vertically */
    height: auto;
    padding-bottom: 45px;
}

#about_us_text {
    display:flex;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Georgia', serif;
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 2;
    font-weight: bold;
}

.space_after_newsletter{
    position: relative;
    display:flex;
    align-items: center; /* Centers vertically */
    height: 30vh;
    background-color: rgba(0, 0, 0, 0.3);
}

.newsletter {
    height: 80vh;
    background-color: rgba(65, 41, 28, 0.852);
}

.news {
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center; /* Centers vertically */
    height: 50vh;
    background: rgba(0, 0, 0, 0.3);
}

#news_title {
    position: relative; /* Positions it independently */
    top: 50px;
    font-size: 3em;
    font-family: 'Georgia', serif;
    text-align: center;
}

.news video {
    top: 100px;
    position: relative;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    display: block;
}

#newsletter_title {
    position: relative; 
    top: 50px;
    font-size: 3em;
    font-family: 'Georgia', serif;
    text-align: center;
    bottom: 100px;
    color: white;
}

#newsletter_capt {
    position: relative; 
    top: 70px;
    font-family: 'Georgia', serif;
    text-align: center;
    bottom: 100px;
    padding-left: 20%;
    padding-right: 20%;
    color: white;
}

.form-group {
    margin-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 7px;
  }
  
#subscribe_form {
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 100px;
    color: white;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.submit_button {
    width: 150px;
    height: 50px;
    border-radius: 7px;
    font-family: 'Georgia', serif;
    font-size: 1em;
    background-color: whitesmoke;
}

.categories {
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center; /* Centers vertically */
    height: 60vh;
    background-color: whitesmoke;
}

#category_title {
    position: relative; 
    top: 50px;
    font-size: 3em;
    font-family: 'Georgia', serif;
    text-align: center;
    bottom: 100px;
}

#category_capt {
    position: relative; 
    top: 70px;
    font-family: 'Georgia', serif;
    text-align: center;
    bottom: 100px;
}

.main_category_carousel {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 130px;
    align-items: center;
    transition: transform 0.3s ease;
}

.card {
    width: 220px;
    height: 190px;
    background-color: rgb(54, 45, 30);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(8, 3, 3, 0.792);
    margin: 20px;
    display: inline-block;
    transition: transform 0.3s ease;
    color: white;
    font-family: 'Inter', 'sans-serif';
}

.card:hover {
    transform: scale(1.05);
}

.card img{
    width: 100%;
    height: 100px;
}

.card-content {
    justify-content: center;
    text-align: center;
}

.card-content h5{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 8px;
}

.card-content p{
    width: 20%;
    font-size: 15px;
    line-height: 1.3;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}


.location {
    position: relative;
    display:flex;
    align-items: center; /* Centers vertically */
    height: 80vh;
    background-color: white;
}

#loc {
    position: absolute; /* Positions it independently */
    top: 12%; /* Moves it to the vertical center */
    left: 50%; /* Moves it to the horizontal center */
    transform: translate(-50%, -50%); /* Adjusts centering properly */
    font-size: 3em;
    font-family: 'Georgia', serif;
    text-align: center;
}

#google_map {
    position: absolute;
    justify-content: left;
    top: 25%;
    margin-left: 10%;
}

#location_capt {
    position: absolute;
    justify-content: left;
    top: 28%;
    margin-left: 47%;
    font-size: 1em;
    font-family: 'Georgia', serif;
    text-align: left;
    line-height: 2.5;
}

#operational_hour {
    position: absolute;
    justify-content: left;
    top: 53%;
    margin-left: 47%;
    font-size: 1em;
    font-family: 'Georgia', serif;
    text-align: left;
    line-height: 2.5;
}

.contact_homepage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    z-index: 1; /* Ensures it is above the background but below content */
}

.contact_homepage {
    position: relative;
    display: flex;
    justify-content: center; /* Centers logos horizontally */
    align-items: center; /* Centers logos vertically */
    height: 50vh;
    background: rgba(0, 0, 0, 0.26);
    background-size: 100% 260%;
    background-position: center;
}

.contact_homepage * {
    position: relative;
    z-index: 2; /* Ensures text and other content appear above the overlay */
}

.contact_homepage #contact_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_homepage #contact_logo a {
    margin: 0 10px; /* Adds space between logos */
    display: inline-block;
}

.contact_homepage #contact_logo img {
    width: 70px; /* Set a size you like */
    height: auto;
}


